<div class="footer">
  <!-- Remove the container if you want to extend the Footer to full width. -->
  <div class=" ">
    <!-- Footer -->
    <footer class="section-p1">
      <div class="my-col">
        <img class="logo" src="../../../content/img/baby_logo2.png" alt="" />
        <h4>Contact</h4>
        <p><span>Address:</span> 562 Wellington Road,Streat 32,San Francisco</p>
        <p><span>Phone:</span> +33 7 52 45 12 36 / +01 2222 365 </p>
        <p><span> Hours:</span> 7 Days a week from 10 am to 6 pm</p>
        <div class="follow">
          <h4>Follow Us</h4>
          <div class="icon">
            <i class="fa-brands fa-facebook-f"></i>

            <i class="fa-brands fa-twitter"></i>

            <i class="fa-brands fa-instagram"></i>

            <i class="fa-brands fa-linkedin-in"></i>
          </div>
        </div>
      </div>
      <div class="my-col">
        <h4>About</h4>
        <a href="#">About us</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Use</a>
        <a href="#">Contact Us</a>
      </div>
      <div class="my-col">
        <h4>My Account</h4>
        <a href="#">Sign In</a>
        <a href="#">View Cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">Track My Order</a>
        <a href="#">Help</a>
      </div>

      <div class="my-col install">
        <h4>Install App</h4>
        <p>From App Store or Google Play</p>
        <div class="my-row">
          <img src="../../../content/img/pay/app.jpg" alt="" />
          <img src="../../../content/img/pay/play.jpg" alt="" />
        </div>
        <p>Secured Payment Gateways</p>
        <img src="../../../content/img/pay/pay.png" alt="" />
      </div>
      <div class="copyright">
        <p>&copy; <a href="#">Baby Chop</a> 2021. All Rights Reserved.</p>
      </div>
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->

</div>
