<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-client-heading" data-cy="ClientCreateUpdateHeading" jhiTranslate="mainApp.client.home.createOrEditLabel">
        Créer ou éditer un Client
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mainApp.client.identifiant" for="field_identifiant">Identifiant</label>
          <input
            type="text"
            class="form-control"
            name="identifiant"
            id="field_identifiant"
            data-cy="identifiant"
            formControlName="identifiant"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mainApp.client.motDePasse" for="field_motDePasse">Mot De Passe</label>
          <input
            type="text"
            class="form-control"
            name="motDePasse"
            id="field_motDePasse"
            data-cy="motDePasse"
            formControlName="motDePasse"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mainApp.client.tel" for="field_tel">Tel</label>
          <input type="text" class="form-control" name="tel" id="field_tel" data-cy="tel" formControlName="tel" />
          <div *ngIf="editForm.get('tel')!.invalid && (editForm.get('tel')!.dirty || editForm.get('tel')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('tel')?.errors?.pattern"
              jhiTranslate="entity.validation.pattern"
              [translateValues]="{ pattern: 'Tel' }"
            >
              Ce champ doit suivre l'expression régulière Tel.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mainApp.client.address" for="field_address">Address</label>
          <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
        </div>

        <div class="row mb-3">
          <label jhiTranslate="mainApp.client.carteBancaire" for="field_carteBancaires">Carte Bancaire</label>
          <select
            class="form-control"
            id="field_carteBancaires"
            data-cy="carteBancaire"
            multiple
            name="carteBancaires"
            formControlName="carteBancaires"
            [compareWith]="compareCarteBancaire"
          >
            <option [ngValue]="carteBancaireOption" *ngFor="let carteBancaireOption of carteBancairesSharedCollection">
              {{ carteBancaireOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
