<!-- contact.component.html -->
<div class="contact-container">
    <h2>Contactez le Service Après-Vente</h2>
    <p>Si vous avez des questions ou des préoccupations concernant vos achats, n'hésitez pas à nous contacter.</p>
    <p>Numéro de téléphone : +33 7 44 58 62 02</p>
    <form>
      <label for="nom">Nom :</label>
      <input type="text" id="nom" name="nom" required>
  
      <label for="email">E-mail :</label>
      <input type="email" id="email" name="email" required>
  
      <label for="message">Message :</label>
      <textarea id="message" name="message" rows="4" required></textarea>
  
      <button type="submit">Envoyer</button>
    </form>
  </div>
  