<!-- about-us.component.html -->
<div class="about-us-container">
    <img src="https://media.licdn.com/dms/image/C4E03AQGKHaZmBBEOdQ/profile-displayphoto-shrink_800_800/0/1614603182773?e=2147483647&v=beta&t=vats3PPbyd-l6POe_fw46TQpgADGY6-ZgApwBzze1p8" alt="À propos de nous" class="about-us-image">
    <h2>À propos de nous</h2>
    <p>Bienvenue sur notre site e-commerce spécialisé dans la vente de fournitures pour bébés.</p>
    <p>Nous sommes dédiés à fournir des produits de haute qualité pour assurer le bien-être et le bonheur de votre bébé.</p>
    <p>Notre large gamme de produits comprend des vêtements, des articles de puériculture, des jouets et bien plus encore.</p>
    <p>À chaque étape du développement de votre bébé, nous sommes là pour vous offrir des solutions pratiques et sécurisées.</p>
    <p>Nous nous engageons à rendre votre expérience d'achat aussi agréable que possible.</p>

  </div>
