<div>
  <h2 id="page-heading" data-cy="LigneCommandeHeading">
    <span jhiTranslate="mainApp.ligneCommande.home.title">LigneCommandes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="mainApp.ligneCommande.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ligne-commande"
        [routerLink]="['/ligne-commande/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="mainApp.ligneCommande.home.createLabel"> Créer un nouveau Ligne Commande </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ligneCommandes?.length === 0">
    <span jhiTranslate="mainApp.ligneCommande.home.notFound">Aucun Ligne Commande trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="ligneCommandes && ligneCommandes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="quantite">
            <div class="d-flex">
              <span jhiTranslate="mainApp.ligneCommande.quantite">Quantite</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="prix">
            <div class="d-flex">
              <span jhiTranslate="mainApp.ligneCommande.prix">Prix</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="commande.id">
            <div class="d-flex">
              <span jhiTranslate="mainApp.ligneCommande.commande">Commande</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="produit.id">
            <div class="d-flex">
              <span jhiTranslate="mainApp.ligneCommande.produit">Produit</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ligneCommande of ligneCommandes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ligne-commande', ligneCommande.id, 'view']">{{ ligneCommande.id }}</a>
          </td>
          <td>{{ ligneCommande.quantite }}</td>
          <td>{{ ligneCommande.prix }}</td>
          <td>
            <div *ngIf="ligneCommande.commande">
              <a [routerLink]="['/commande', ligneCommande.commande.id, 'view']">{{ ligneCommande.commande.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="ligneCommande.produit">
              <a [routerLink]="['/produit', ligneCommande.produit.id, 'view']">{{ ligneCommande.produit.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/ligne-commande', ligneCommande.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/ligne-commande', ligneCommande.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(ligneCommande)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
