<!-- panier my style -->
<div class="title-panier">
  <h2>Mon Panier</h2>
</div>
<section class=" cart section-p1">
  <div *ngIf="produitsGroupes.length === 0" class="empty-message">Le panier est vide.</div>
  <div *ngFor="let produitGroup1 of produitsGroupes ;let last=last" >
    <div *ngFor="let produit1 of produitGroup1.produits"  class="pan-container">
      <div class="panier-img">
        <img [src]="getFirstImageUrl(produit1)" alt="{{ produit1.libelle }}"/>
      </div>
      <div class="text-part">
        <div class="my-title">
          <h2 >
            {{ produit1.libelle }}
          </h2>
        </div>


        <div class="empty-container empty-message">
          .
        </div>
        <div class="price-part">
          <div class="price">
            {{ calculePartialTotale(produitGroup1) | currency:'EUR' }}
          </div>
          <div class="quantity">
            <div class="minus" (click)="diminuer(produit1)">
              -
            </div>
            <div class="middle">
              {{ produitGroup1.quantite }}
            </div>
            <div class="add" (click)="ajouter(produit1)"  >
              +
            </div>

          </div>
          <div class="rem" (click)="retirerDuPanier(produit1)">
            <fa-icon [icon]="faTrash"></fa-icon>
          </div>

        </div>
      </div>

    </div>
    <hr *ngIf="!last" />
  </div>

  <div class="total-container" *ngIf="produits.length > 0">
    <div class="total-label">Total à payer :</div>
    <div class="total-amount">{{ calculerTotal() | currency:'EUR' }}</div>
  </div>

  <div class="valider-button">
    <button (click)="validerPanier()"  *ngIf="produits.length > 0">Valider le panier</button>
  </div>
</section>
<!-- suggestions  -->
<section class="cart px-5">
  <h2 style="color: #014841; margin-bottom: 10px; text-align: center;font-size: 20px">Vous aimerez peut-être...</h2>
  <div *ngIf="produitsSameCategory.length > 0"  >
    <div *ngFor="let produit of produitsSameCategory;let last = last" style="cursor: pointer" (click)=" navigateToView(produit.id)"  class="pan-container">

      <div class="panier-img" style="min-width: 0;">
        <img class="produit-image"  [src]="getFirstImageUrl(produit)" alt="{{ produit.libelle }}" />
      </div>
      <div class="text-part">
        <div class="produit-name">
          <h4 style="font-size: 15px" >
            {{ produit.libelle }}
          </h4>
        </div>

        <div class="empty-container empty-message">
          .
        </div>
        <div class="price-part">
          <div class="price">
            {{ produit.prixUnitaire | currency:'EUR' }}
          </div>
        </div>
      </div>

    </div>

  </div>


</section>







<!-- panier.component.html -->




