<div>
  <h2 id="page-heading" data-cy="CategoryHeading">
    <span jhiTranslate="mainApp.category.home.title">Categories</span>

    <div class="d-flex justify-content-end">
      <button
        *ngIf="this.accountService.hasAnyAuthority(['ROLE_ADMIN'])"
        class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="mainApp.category.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        *ngIf="this.accountService.hasAnyAuthority(['ROLE_ADMIN'])"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-category"
        [routerLink]="['/category/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="mainApp.category.home.createLabel"> Créer un nouveau Category </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="categories?.length === 0">
    <span jhiTranslate="mainApp.category.home.notFound">Aucun Category trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="categories && categories.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id" *ngIf="this.accountService.hasAnyAuthority(['ROLE_ADMIN'])">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="idCategory" *ngIf="this.accountService.hasAnyAuthority(['ROLE_ADMIN'])">
            <div class="d-flex">
              <span jhiTranslate="mainApp.category.idCategory">Id Category</span>
              <fa-icon  class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th  *ngIf="this.accountService.hasAnyAuthority(['ROLE_ADMIN'])"  scope="col" jhiSortBy="nom">
            <div class="d-flex">
              <span  jhiTranslate="mainApp.category.nom">Nom</span>
              <fa-icon  class="p-1" icon="sort"></fa-icon>
            </div>
          </th>


        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories; trackBy: trackId" data-cy="entityTable">
          <td>
            <a *ngIf="this.accountService.hasAnyAuthority(['ROLE_ADMIN'])" [routerLink]="['/category', category.id, 'view']">{{ category.id }}</a>
          </td>
          <td *ngIf="this.accountService.hasAnyAuthority(['ROLE_ADMIN'])">{{ category.idCategory }} </td>
          <td>{{ category.nom }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                *ngIf="this.accountService.hasAnyAuthority(['ROLE_ADMIN'])"
                type="submit"
                [routerLink]="['/category', category.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                *ngIf="this.accountService.hasAnyAuthority(['ROLE_ADMIN'])"
                type="submit"
                [routerLink]="['/category', category.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button
                *ngIf="this.accountService.hasAnyAuthority(['ROLE_ADMIN'])"
                type="submit" (click)="delete(category)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
