

<div class="container-fluid global-background-color">
  <div class="row">

    <div  style="background-color: white" class="col-md-2">
      <!-- ...  <jhi-category></jhi-category>-->

      <div class="filter-container mb-3">
        <h4 >Trier par Prix</h4>
        <form style="gap: 3;">
          <label>
            <input  type="radio" name="prix" (change)="applyFilter('prix', 'asc')" style="display: none" /> Prix Croissant
          </label>
          <label>
            <input type="radio" name="prix" (change)="applyFilter('prix', 'desc')" style="display: none"  /> Prix Décroissant
          </label>
        </form>
      </div>

      <div class="filter-container mb-3">
        <h4>Trier par Taille</h4>
        <form style="gap: 3">
          <label>
            <input type="radio" name="taille" (change)="applyFilter('taille', 'asc')" style="display: none" /> Taille Croissante
          </label>
          <label>
            <input type="radio" name="taille" (change)="applyFilter('taille', 'desc')" style="display: none" /> Taille Décroissante
          </label>
        </form>
      </div>


      <div class="filter-container mb-3">
        <div *ngFor="let category of categories">
          <label>
            <input type="checkbox" [value]="category.id" (change)="onCategoryChange($event, category)">
            {{ category.nom }}
          </label>
        </div>
      </div>

      <div class="filter-container mb-3">
        <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" (userChangeEnd)="updateSliderInfo($event)"></ngx-slider>
      </div>
    </div>



    <!-- Colonne contenant les produits (3/5) -->
    <div class="col-md-10 col-sm-12">
        <div class="d-flex justify-content-end">
          <!-- Bouton Actualiser la liste -->
          <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading"
                  *ngIf="this.accountService.hasAnyAuthority(['ROLE_ADMIN'])">
            <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
            <span jhiTranslate="mainApp.produit.home.refreshListLabel">Actualiser la liste</span>
          </button>

          <!-- Bouton Créer un nouveau Produit -->
          <button
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-produit"
            [routerLink]="['/produit/new']"
            *ngIf="this.accountService.hasAnyAuthority(['ROLE_ADMIN'])"
          >
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="mainApp.produit.home.createLabel"> Créer un nouveau Produit </span>
          </button>
        </div>


      <jhi-alert-error></jhi-alert-error>
      <jhi-alert></jhi-alert>

      <div class="alert alert-warning" id="no-result" *ngIf="produits?.length === 0">
        <span jhiTranslate="mainApp.produit.home.notFound">Aucun Produit trouvé</span>
      </div>


      <div class="row g-4">
        <!-- Affichage des produits -->

        <div class="input-group mb-3">
          <input type="text" class="form-control rounded-end" [(ngModel)]="searchTerm" (input)="onSearchInputChange()" placeholder="Rechercher un produit...">
          <button  style="background-color: dimgray" class="btn  rounded-start" (click)="search()">
            <fa-icon icon="search" [fixedWidth]="true"></fa-icon>
          </button>
        </div>
       <!--
        =========================styled product =========================================
         <div class="product1">
          <div class="pro-container">
            <div class="pro" *ngFor="let produit of produits; trackBy: trackId" data-cy="entityTable" (click)="navigateToView(produit.id)">
              <div class="img" >
                <div *ngIf="produit.images && produit.images.length > 0">
                  <img  [src]="produit.images[0].url" alt="" />
                </div>
              </div>
              <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronout T-Shirts</h5>
                <div class="star">
                  <fa-icon icon="star"></fa-icon>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>$78</h4>
              </div>
              <a href="" class="cart"><fa-icon icon="cart-shopping"></fa-icon> </a>
            </div>

          </div>
        </div>

        -->


        <div class="col-md-2 mx-3" *ngFor="let produit of produits; trackBy: trackId" data-cy="entityTable">
          <!-- Contenu de chaque produit -->
          <!--<div class="card mb-3 h-100 border-1" style="max-width: 200px;"  (click)="navigateToView(produit.id)">
            <img src="../../../content/images/img.png" class="card-img-top" alt="Product Image">

            <div class="card-body">
              <p   style="font-family: 'Segoe UI Semibold'" class="card-title">{{ produit.libelle }}</p>
              &lt;!&ndash; Limit the description text and display three dots &ndash;&gt;
              <p style="font-size: 12px" class="card-text overflow-hidden">
                {{ truncateDescription(produit.description) }}
              </p>

            </div>
            <div style="background-color: white;" class="card-footer">
              <a [routerLink]="['/produit', produit.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton"
                 *ngIf="this.accountService.hasAnyAuthority(['ROLE_ADMIN'])">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </a>
              &lt;!&ndash; Edit button conditionally displayed &ndash;&gt;
              <a [routerLink]="['/produit', produit.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton"
                 *ngIf="this.accountService.hasAnyAuthority(['ROLE_ADMIN'])">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </a>
              &lt;!&ndash; Delete button conditionally displayed &ndash;&gt;
              <button (click)="delete(produit)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton"
                      *ngIf="this.accountService.hasAnyAuthority(['ROLE_ADMIN'])">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
              <button
                *ngIf="!this.accountService.hasAnyAuthority(['ROLE_ADMIN'])"
                style="margin-left: 18px; padding: 6px; height: 41px; border-color: #96d7ff; background-color: #96d7ff; color: #fdfdfd; border-radius: 5px;"
                class="add-to-cart-button"
                data-cy="addToCartButton">
                <fa-icon icon="shopping-cart"></fa-icon>&nbsp; Add to cart
              </button>
            </div>
          </div>-->

          <div class="wrapper" (click)="navigateToView(produit.id)">
            <div class="container">
              <div>
                <div *ngIf="produit.images && produit.images.length > 0">
                  <img [src]="produit.images[0].url" alt="Product Image" style="width: 200px; height: auto;">
                </div>
                <div class="product-lounge mx-2 mt-2">
                  <h6>{{ truncateDescription(produit.libelle) }}</h6>
                  <p>
                    {{ truncateDescription(produit.description) }}
                  </p>
                </div>

              </div>

              <div class="bottom" [class.clicked]="isClicked">
                <div class="left">
                  <div class="details">
                    <div class="product-price-client">{{ produit.prixUnitaire + " $" }}</div>
                  </div>
                  <div *ngIf="produit.outOfStock" class="out-of-stock-banner" (click)=" showOutOfStockModal($event)">Out of Stock</div>
                  <div *ngIf="!produit.outOfStock" class="buy" (click)="ajouterAuPanier(produit, $event)"><i class="material-icons"><fa-icon icon="shopping-cart"></fa-icon></i></div>
                </div>
                <div class="right">
                  <div class="done"><i class="material-icons">done</i></div>
                  <div class="details">
                    <h6>Chair</h6>
                    <p>Added to your cart</p>
                  </div>
                  <div class="remove" (click)="remove()"><i class="material-icons">clear</i></div>
                </div>
              </div>
            </div>
            <div class="inside">
              <div class="icon"></div>
              <div class="contents">
               {{produit.description}}
              </div>
            </div>
          </div>

        </div>
      </div>

      <nav aria-label="..." class="w-100 d-flex justify-content-center" style="bottom: 0">
        <ul class="pagination pagination-sm">
          <li *ngIf="currentPage > 1" class="page-item" (click)="onPageChange(currentPage - 1)">
            <span class="page-link">
              <span aria-hidden="true">&laquo;</span>
            </span>
          </li>
          <ng-container *ngIf="getPagesWithEllipsis().length > 1">
            <ng-container *ngFor="let page of getPagesWithEllipsis()">
              <ng-container *ngIf="page === 'ellipsis'">
                <li class="page-item"><span class="page-link">...</span></li>
              </ng-container>
              <ng-container *ngIf="page !== 'ellipsis'">
                <li class="page-item" [class.active]="currentPage === page">
                <span class="page-link" (click)="onPageChange(page)">
                  {{ page + 1 }}
                  <span *ngIf="currentPage === page" class="visually-hidden">(current)</span>
                </span>
                </li>
              </ng-container>
            </ng-container>
          </ng-container>

          <li *ngIf="currentPage + 1 < totalPages" class="page-item" (click)="onPageChange(currentPage + 1)">
            <span class="page-link">
              <span aria-hidden="true">&raquo;</span>
            </span>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</div>
