<div class="container-fluid global-background-color">
  <div class="row">

    <div class="col-md-2">
     <!-- ...  <jhi-category></jhi-category>-->
      <div class="filter-container mb-3">
        <button class="btn btn-secondary" (click)="applyFilter('prix', 'asc')">Prix Croissant</button>
        <button class="btn btn-secondary" (click)="applyFilter('prix', 'desc')">Prix Décroissant</button>

        <button class="btn btn-secondary" (click)="applyFilter('taille', 'asc')">Taille Croissante</button>
        <button class="btn btn-secondary" (click)="applyFilter('taille', 'desc')">Taille Décroissante</button>
      </div>

      <div class="filter-container mb-3">
        <div *ngFor="let category of categories">
          <label>
            <input type="checkbox" [value]="category.id" (change)="onCategoryChange($event, category)">
            {{ category.nom }}
          </label>
        </div>
      </div>

    </div>


    <!-- Colonne contenant les produits (3/5) -->
    <div class="col-md-10">
        <div class="d-flex justify-content-end">
          <!-- Bouton Actualiser la liste -->
          <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading"
                  *ngIf="this.accountService.hasAnyAuthority(['ROLE_ADMIN'])">
            <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
            <span jhiTranslate="mainApp.produit.home.refreshListLabel">Actualiser la liste</span>
          </button>

          <!-- Bouton Créer un nouveau Produit -->
          <button
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-produit"
            [routerLink]="['/produit/new']"
            *ngIf="this.accountService.hasAnyAuthority(['ROLE_ADMIN'])"
          >
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="mainApp.produit.home.createLabel"> Créer un nouveau Produit </span>
          </button>
        </div>

      <jhi-alert-error></jhi-alert-error>
      <jhi-alert></jhi-alert>

      <div class="alert alert-warning" id="no-result" *ngIf="produits?.length === 0">
        <span jhiTranslate="mainApp.produit.home.notFound">Aucun Produit trouvé</span>
      </div>

      <div class="row g-4">
        <!-- Affichage des produits -->
        <div class="input-group mb-3">
          <input type="text" class="form-control rounded-end" [(ngModel)]="searchTerm" (input)="onSearchInputChange()" placeholder="Rechercher un produit...">
          <button  style="background-color: dimgray" class="btn  rounded-start" (click)="search()">
            <fa-icon icon="search" [fixedWidth]="true"></fa-icon>
          </button>
        </div>

        <div class="col-md-2 p-2" *ngFor="let produit of produits; trackBy: trackId" data-cy="entityTable">
          <!-- Contenu de chaque produit -->
          <!--<div class="card mb-3 h-100 border-1" style="max-width: 200px;"  (click)="navigateToView(produit.id)">
            <img src="../../../content/images/img.png" class="card-img-top" alt="Product Image">

            <div class="card-body">
              <p   style="font-family: 'Segoe UI Semibold'" class="card-title">{{ produit.libelle }}</p>
              &lt;!&ndash; Limit the description text and display three dots &ndash;&gt;
              <p style="font-size: 12px" class="card-text overflow-hidden">
                {{ truncateDescription(produit.description) }}
              </p>

            </div>
            <div style="background-color: white;" class="card-footer">
              <a [routerLink]="['/produit', produit.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton"
                 *ngIf="this.accountService.hasAnyAuthority(['ROLE_ADMIN'])">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </a>
              &lt;!&ndash; Edit button conditionally displayed &ndash;&gt;
              <a [routerLink]="['/produit', produit.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton"
                 *ngIf="this.accountService.hasAnyAuthority(['ROLE_ADMIN'])">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </a>
              &lt;!&ndash; Delete button conditionally displayed &ndash;&gt;
              <button (click)="delete(produit)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton"
                      *ngIf="this.accountService.hasAnyAuthority(['ROLE_ADMIN'])">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
              <button
                *ngIf="!this.accountService.hasAnyAuthority(['ROLE_ADMIN'])"
                style="margin-left: 18px; padding: 6px; height: 41px; border-color: #96d7ff; background-color: #96d7ff; color: #fdfdfd; border-radius: 5px;"
                class="add-to-cart-button"
                data-cy="addToCartButton">
                <fa-icon icon="shopping-cart"></fa-icon>&nbsp; Add to cart
              </button>
            </div>
          </div>-->

          <div class="wrapper" (click)="navigateToView(produit.id)">
            <div class="container">
              <div>
                <div class="top card-top-border">
                  <img src="../../../content/images/img.png" class="card-img-top" alt="Product Image">
                </div>
                <div class="product-lounge mx-2 mt-2">
                  <h6>{{ truncateDescription(produit.libelle) }}</h6>
                  <p>
                    {{ truncateDescription(produit.description) }}
                  </p>
                </div>

              </div>

              <div class="bottom" [class.clicked]="isClicked">
                <div class="left">
                  <div class="details">
                    <div class="product-price-client">{{ produit.prixUnitaire + " $" }}</div>
                  </div>
                  <div class="buy" (click)="ajouterAuPanier(produit, $event)"><i class="material-icons"><fa-icon icon="shopping-cart"></fa-icon></i></div>
                </div>
                <div class="right">
                  <div class="done"><i class="material-icons">done</i></div>
                  <div class="details">
                    <h6>Chair</h6>
                    <p>Added to your cart</p>
                  </div>
                  <div class="remove" (click)="remove()"><i class="material-icons">clear</i></div>
                </div>
              </div>
            </div>
            <div class="inside">
              <div class="icon"></div>
              <div class="contents">
                Any description
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
