<!-- mes-commandes.component.html -->
<div class="container">
    <h2 class="page-title">Vos Commandes</h2>

    <div *ngIf =" commandes.length === 0" class="no-orders-message">
      <p>Vous n'avez pas encore passé de commandes.</p>
    </div>


    <div *ngIf="commandes.length > 0">
      <div class="order-card" *ngFor="let commande of commandes">
        <div class="order-header">
         
          <p class="order-id">Commande faite le  {{ commande.date}}</p>
          <p class="order-status">Type de payment: {{ commande.typePayement }}</p>
          <p class="order-status">État: {{ commande.etat }}</p>
          <p class="order-status">produit: {{ commande.ligneCommandes }}</p>
          <p class="order-status">prix: faut ajouter la methode calculprix</p>
        </div>
        <!-- Add other properties of the commande object that you want to display -->
      </div>
    </div>
  </div>
