<div class="d-flex justify-content-center" style="gap: 5.5rem">
  <div class="col-md-4" style="margin-left: 126px">


      <div class="col-md-4" style="margin-left: 126px">
        <div *ngIf="produit && images" style="margin-top: 83px" class="text-center">
          <div *ngFor="let image of images" class="image-container">
            <img [src]="image" class="img-fluid" >
          </div>
        </div>
      </div>

      <!-- ... Vos autres éléments ... -->

    </div>

  <div class="col-md-8" >
    <div *ngIf="produit">
      <h2>{{ produit.libelle }}</h2>
      <hr />

      <!-- Messages d'alerte/d'erreur en haut de page
      <jhi-alert-error></jhi-alert-error>
      <jhi-alert></jhi-alert>
      -->

      <p>{{ produit.description }}</p>
      <p style="color:#f86c35"><b>Prix : {{ produit.prixUnitaire }} €</b></p>

      <button

        *ngIf="!this.accountService.hasAnyAuthority(['ROLE_ADMIN', 'ROLE_USER'])"
        style="margin-left: 18px; padding: 6px; height: 41px; border-color: #96d7ff; background-color: #96d7ff; color: #fdfdfd; border-radius: 5px;"

        class="add-to-cart-button"
        data-cy="addToCartButton"
        (click)="ajouterAuPanier()">
        <fa-icon icon="shopping-cart"></fa-icon>&nbsp; Add to cart
      </button>

      <hr/>

      <h5><u>Détails du produit</u></h5>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="mainApp.produit.taille">Taille</span></dt>
        <dd><span>{{ produit.taille }}</span></dd>
        <dt><span jhiTranslate="mainApp.produit.couleur">Couleur</span></dt>
        <dd><span>{{ produit.couleur }}</span></dd>
        <!--
        <dt><span jhiTranslate="mainApp.produit.stock">Stock</span></dt>
        <dd><span>{{ produit.stock }}</span></dd>
        -->
      </dl>

<!--      <button type="submit" style="padding: 7px; border-radius: 5px;" (click)="previousState()" class="btn btn-info custom-button" data-cy="entityDetailsBackButton">-->
<!--        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>-->
<!--      </button>-->

      <button type="button" [routerLink]="['/produit', produit.id, 'edit']" class="btn btn-primary"
              *ngIf="this.accountService.hasAnyAuthority(['ROLE_ADMIN'])">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>


</div>
<div class="d-flex justify-content-center" style="gap: 5.5rem">
  <!-- ... Vos autres éléments ... -->

  <div class="col-md-8">
    <!-- Vos autres éléments ... -->

    <div class="avis-section">
      <h3 class="avis-title">Avis pour ce produit :</h3>

      <div *ngIf="avisList && avisList.length > 0">
        <ul class="avis-list">
          <li class="avis-item" *ngFor="let avis of avisList">
            <div class="avis-date">Avis posté le {{ avis.date }}</div>
            <div class="avis-note">Note : {{ avis.note }} / 5</div>
            <div>{{ avis.commentaire }}</div>
          </li>
        </ul>
      </div>

      <div *ngIf="!avisList || avisList.length === 0" class="no-avis-message">
        <p>Aucun avis disponible pour ce produit.</p>
      </div>
    </div>

    <!-- Vos autres éléments ... -->
  </div>
</div>
